* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: cornflowerblue;
  font-family: Helvetica;
  color: red;
}

#root {
  display: grid;
  background: #333;
  grid-template-columns: 0.9fr 4.1fr;
  grid-template-rows: 1.1fr 6.7fr 0.7fr;
  gap: 3px 3px;
  text-align: center;
  height: 100vh;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
  background: hsl(300, 50%, 15%);
  color: white;
  text-transform: uppercase;
  letter-spacing: 1rem;
  display: flex;
  justify-items: center;
  justify-content: center;
}
.header h1 {
  margin: auto;
}

.sidebar {
  grid-area: 2 / 1 / 4 / 2;
  background: hsl(300, 50%, 15%);
  z-index: 1;
}

.main {
  grid-area: 2 / 1 / 3 / 3;
  background: hsl(250, 100%, 10%);
}

.footer {
  background: hsl(300, 50%, 5%);
  grid-area: 3 / 1 / 4 / 3;
  z-index: 1;
}
